@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Noto+Sans+JP&family=Open+Sans:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.calendar-tile-current-date {
  background-color: #facc15 !important;
}

.calendar-tile-selected-range {
    background-color: red;
    color: black;
}